fastapi
uvicorn[standard]
openai-whisper @ git+https://github.com/openai/whisper.git
g2pk
python-multipart
pydantic
torch
torchaudio
ffmpeg-python
transformers
soundfile
pydub
hgtk
six
langchain
langchain_openai
dotenv
google-cloud-texttospeech
google-cloud-speech
protobuf==3.20.*